.odd{
    color: rgb(233, 140, 140);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#second{
    color: rgb(0, 0, 130);
    font-size: 36px;
}

#third{
    font-size: 24px;
}

#fourth{
    background-color: rgb(0, 128, 0);
    font-size: 24px;
    font-weight: 700;
}